html, body {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.map {
  width: 100%;
  height: 100%;

  .cesium-credit-logoContainer {
    display: none;
  }

  .cesium-viewer-bottom {
    display: none;
  }

  .cesium-widget-credits {
    display: none;
  }

  .cesium-viewer-animationContainer {
    display: none;
  }

  .cesium-credit-logoContainer {
    display: none;
  }

  .cesium-viewer-toolbar {
    display: none;
  }
}

.map-view {
  div.cesium-viewer {
    width: 100vw;
    height: 100vh;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.leaflet-control-attribution { display: none; } /* hides leaflet attribution */

a, a:visited, a:hover, a:active {
  color: inherit;
}