.main-cesium-container {
  position: relative;
  width: 100%;
  height: 100%;
  .cesium-globe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .cesium-viewer {
      .cesium-viewer-bottom {
        display: none;
      }
    }
  }
}

.cesium-sceneModePicker-wrapper {
  display: none;
}

.cesium-toolbar-button {
  display: none;
}

.cesiumLabelOverlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  pointer-events: none;
  user-select: none;

  svg {
    position: absolute;
  }

}

.feature-name-container {
  background: rgba(0, 0, 0, 100);
  z-index: 2000;
  position: absolute;
  margin: 0;
  padding: 1px 3px 2px 3px;
  display: block;
  table {
    border-top: none;
    color: #eee;
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    tbody {
      .cesium-button:focus {
        background-color: inherit;
      }
      tr {
        padding: 0px;
        margin: 0px;
        vertical-align: middle;
        &:hover {
          background-color: inherit;
        }
        td {
          vertical-align: middle;
          padding: 0px;
          margin: 2px;
        }
      }
    }
  }
}

.cruise-container {
  position: relative;
  width: 100%;
  height: 100%;
  .echogram-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .leaflet-container {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}