html, body {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.map {
  width: 100%;
  height: 100%;

  .cesium-credit-logoContainer {
    display: none;
  }

  .cesium-viewer-bottom {
    display: none;
  }

  .cesium-widget-credits {
    display: none;
  }

  .cesium-viewer-animationContainer {
    display: none;
  }

  .cesium-credit-logoContainer {
    display: none;
  }

  .cesium-viewer-toolbar {
    display: none;
  }
}

.map-view {
  div.cesium-viewer {
    width: 100vw;
    height: 100vh;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.leaflet-control-attribution { display: none; } /* hides leaflet attribution */

a, a:visited, a:hover, a:active {
  color: inherit;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  &.infoPanel-open {
    display: block;
    opacity: 1;
  }
}
.cruiseview{
  background: $mid-grey;
}

#infoPanel {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background:  $mid-grey;
  color: $bg-white;
  transition: all 0.3s;
  overflow-y: auto;
  //box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  &.infoPanel-open {
    left: 0;
  }
  .infoPanel-header {
    img {
      width: 38px;
      height: 38px;
    }
  }
}