@use './navigation.scss';
@use './home.scss';
@use './waterColumn.scss';
@use './map.scss';

body {
  margin: 0px;
  padding: 0px;

  text-align: right;
  color: darkslateblue;
  font-family: 'IBM Plex Mono', monospace;
  h1 {
    font-size: 2.5em;
    margin: 0;
    font-weight: 200;
  }
}
